<div class="row">
    <div class="col-md-6">
        <div class="input-group">
            <input type="text" name="sp_aid" id="sp_aid" value="" placeholder="Recherche publication" class="form-control" onkeyup="myFunction()">
            <span class="input-group-btn"><button type="button" name="edit_article" id="edit_article" class="btn btn-success"><i class="fa fa-search"></i> &nbsp;Recherche</button></span>
        </div>
<!--
        <a href="#"
           data-toggle="modal"
           data-target="#basicModal">Recherche avancé</a> -->
 </div>
</div>

<!--
<div class="modal fade" id="basicModal" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h4 class="modal-title" id="myModalLabel">Modal title</h4>
          </div>
          <div class="modal-body">
              <div class="input-group">
                  <input type="text" name="sp_aid" id="sp_aid" value="" placeholder="Enter article id" class="form-control" onkeypress="return numbersonly(this, event);">
                  <span class="input-group-btn"><button type="button" name="edit_article" id="edit_article" class="btn btn-success"><i class="fa fa-search"></i> &nbsp;Recherche</button></span>
              </div><br>
              <div class="container">
                  <div class="panel panel-default col-xs-12 col-sm-12 col-md-4 col-lg-4">


                      <br>
                      <div class="row">
                          <div class="form-group">
                              <label class="control-label">rechercher dans</label>
                              <input type="text" name="sp_keywords" id="sp_keywords" value="" placeholder="Enter some keywords" class="form-control">
                          </div>
                      </div><br>
                      <div class="row">
                          <div class="form-group">
                              <label class="control-label">rechercher dans</label>
                              <select name="somename" class="form-control custom-Select">
                                  <option value="tout">Tout</option>
                                  <option value="titre">Titre</option>
                                  <option value="contenu">Contenu</option>
                                  <option value="mots clés">mots clés</option>
                              </select>
                          </div>
                      </div><br>
                      <div class="row">
                          <div>
                              <label class="control-label">status</label>
                              <select name="somename" class="form-control custom-Select">
                                  <option value="tout">Tout</option>
                                  <option value="approuve">Approuvé</option>
                                  <option value="deapprouve">Deapprouvé</option>
                              </select>
                          </div>
                      </div><br>
                      <div class="row">
                          <div>
                              <label class="control-label">Categories</label>
                              <select class="form-control select2Search">
                                  <optgroup label="Alaskan/Hawaiian Time Zone">
                                      <option value="AK">Alaska</option>
                                      <option value="HI">Hawaii</option>
                                  </optgroup>
                                  <optgroup label="Pacific Time Zone">
                                      <option value="CA">California</option>
                                      <option value="NV">Nevada</option>
                                      <option value="OR">Oregon</option>
                                      <option value="WA">Washington</option>
                                  </optgroup>
                              </select>
                          </div>
                      </div><br>
                  </div>
              </div>
          </div>
          <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success"><i class="fa fa-search"></i>Recherche</button>
          </div>
      </div>
  </div>
</div> -->

